@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body {
  font-family: 'Nunito', sans-serif;
  background-color: #F6F9FC;
  color: rgb(40,40,40);
}

h1,h2 {
  color: #005018;
}

h3 {
  color: rgb(75, 75, 75);
}

.img-circle {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.container {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.card-white {
  background-color: white;
  /*width: 500px;*/
  margin: 24px auto;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  padding: 16px;
  text-align: center;
}

.btn-green {
  display: inline-block;
  background-color: teal;
  transition: 1s;
  opacity: 0.8;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;
  color: white;
}

.btn-green:hover {
  background-color: rgb(155, 206, 122);
  transition: 0.5s;
}

.container-flex{
  display: flex;
}

.picture {
  width: calc(100%/ 2 - 20px);
  margin: 10px;
  padding: 10px;
}

.picture img {
  width: 100%;
  padding: 5px;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
}

.trip {
  width: 100%;
  padding: 0;
  list-style: none;
  overflow: hidden;
  /* display:grid;
  grid-template: repeat(auto-fill, 200px); */
  /* grid-gap: 1rem;
  grid-template-columns: 2fr 1fr 1.5fr;
  grid-template-rows: 150px 100px 50px 50px auto; */
}

.trip li {
  /* display: inline; */
  float: left;
  padding: 5px;
  width: 30%;
}
.img-fit {
  width: 100%;
}

@media (max-width: 720px) {
  .trip {
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  .trip li {
    display: inline;
    padding: 5px;
    width: 46%;
}
}

@media (max-width: 540px) {
  .trip {
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  .trip li {
    display: inline;
    padding: 5px;
    width: 100%;
  }
}


.list-inline {
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 56px;
  color:rgb(20 100 0 / 10%)
}
.list-inline a:hover {
  font-size: 48px;
  color:rgb(40 150 0 / 40%)
}
